@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}
sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}

/*for all*/
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

* {
  font-family: "Roboto", sans-serif;
}

:root { --red: #e73131; }
.red { color: var(--red); }

p { 
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5em; 
}

.wrapper {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    width: 100%; 
    padding: 10px 0; 
    position: fixed;
    top: 0;
    background-color: transparent;
    z-index: 9999;
} 

header .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo { flex-basis: 30%; }
nav { flex-basis: 60%; }

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li a { 
    color: white;
    font-weight: 400;
    font-size: 16px; 
}

nav ul li a:hover { text-decoration-line: underline; }
.menu { display: none; }

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    transform: all 0.3s ease-in-out;
    background-color: white;
    text-indent: -9999px;
}

.banner { 
    width: 100%;
    height: 80vh;
    position: relative;
    background: url(../images/Slider/01.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.banner::after {
    width: 100%;
    height: 100%;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner * { z-index: 100; }

.banner .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.heading {
    font-weight: 500;
    font-size: 32px;
    text-transform: uppercase;
}

.large {
    font-weight: 600;
    font-size: 56px;
}

.banner .wrapper p {
    width: 50%;
    margin-top: 1em;
    color: white;
}

.line {
    width: 80px;
    height: 2px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: block;
    background-color: var(--red);
    text-indent: -9999px;
}

section { padding: 50px 0; }
.desc { width: 70%; }
.desc::first-letter { color: var(--red); }

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.about-details { flex-basis: 50%; }
.about-content img { flex-basis: 50%; }

.title {
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.about-details p { margin-top: 1.5em; }
.download { background-color: var(--red); }

.download .wrapper {
    padding: 1em 0;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.download-content p, .download-content .title { color: white; }

.download .wrapper .btn {
    border: 2px solid white;
    color: white;
}

.download .wrapper .btn:hover { 
    background-color: white;
    color: var(--red);
}

.btn {
    padding: 0.5em 1em;
    border: 2px solid var(--red);
    color: var(--red);
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s;
}

.btn:hover {
    background-color: var(--red);
    color: white;
}

footer { padding: 30px 0; }

.footer-ctn {  
    width: 50%;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.f-social {
    width: 50px;
    height: 50px;
    border: 2px solid gray;
    border-radius: 50%;
    display: block;
    position: relative;
    text-indent: -9999px;
    color: gray;
}

.f-social:hover { 
    border-color: var(--red) ;
    color: var(--red); 
}

.f-social::before {
    position: absolute;
    left: 50%;
    top: 50%;
    font-family: "Font Awesome 5 Brands";
    font-weight: 900;
    font-size: 24px;
    text-indent: 0;
    transform: translate(-50%, -50%);
}

.facebook::before { content: "\f39e"; }
.google::before { content: "\f0d5"; }
.linkedin::before { content: "\f0e1"; }
.pinterest::before { content: "\f0d2"; }
.twitter::before { content: "\f099"; }
.youtube::before { content: "\f167"; }
.behance::before { content: "\f1b4"; }
.instagram::before { content: "\e055"; }

@media (max-width:1280px) {
    .logo { flex-basis: 25%; }
    nav { flex-basis: 65%; }
    .banner .wrapper p { width: 60%; }
}

@media (max-width:990px) {
    .logo { flex-basis: 20%; }
    nav { flex-basis: 70%; }
    nav ul li a { font-size: 14px; }
}

@media (max-width:768px) {
    header .wrapper { justify-content: space-between; }
    .logo { flex-basis: 15%; }
    nav { flex-basis: 75%; }
    nav ul li a { font-size: 12px; }
}

@media (max-width:550px) {
    .wrapper { width: 95%; }
    .menu { display: block; }

    nav ul {
        width: 100%;
        padding: 20px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 5%;
        left: 0;
        transform: translateX(200%);
        transition: all 0.3s ease-in-out;
        background-color: #565656;
    }

    nav ul li { margin-bottom: 2em; }
}

/* @media (max-width:320px) {

} */